{{!
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
}}

<div class="header-main-wrapper"></div>
<script>

	jQuery(document).ready(function(){
//debugger;
		jQuery("#log_out_event").click(function(){
		 document.getElementById('iframe_logout').contentWindow.document.getElementById('log_out').click()
		document.location.href="https://erwin.com/";
		})
	})
</script>
