/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.order-wizard-termsandconditions-module-top-summary {
	display:none;
	margin-bottom: $sc-medium-margin;
	@media(min-width: $screen-sm-min){
		display: block;
	}
}
.order-wizard-termsandconditions-module-top,
.order-wizard-termsandconditions-module-bottom{
	@media(min-width: $screen-sm-min){
		display: none;
	}
}

.order-wizard-termsandconditions-module-bottom{
	margin-top: $sc-medium-margin;
}

.order-wizard-termsandconditions-module-default{
	display: none;
	@media(min-width: $screen-sm-min){
		display: none;
		float:right;
		margin-bottom: $sc-medium-margin;
	}
}

.order-wizard-termsandconditions-module-label{}
.order-wizard-termsandconditions-module-text{}